<div id="q-ethical-issues" class="question">

  <div class="answer">
    {# Data processing #}
    {%- set isSensitivePath = [uuids.legalEthicalCUuid, uuids.isSensitiveQUuid]|reply_path -%}
    {%- set isSensitive = repliesMap[isSensitivePath]|reply_str_value -%}
    {%- if isSensitive == uuids.isSensitiveYesAUuid -%}
      <h3>Is any of the data sensitive personal data?</h3>
      <p>
        Yes, some of the data we collect is sensitive.
      </p>
      {%- set isSensitiveYesPath = [isSensitivePath, uuids.isSensitiveYesAUuid]|reply_path -%}
      {%- set needDPAPath = [isSensitiveYesPath, uuids.needDPAQUuid]|reply_path -%}
      {%- set needDPAAUuid = repliesMap[needDPAPath]|reply_str_value -%}
      {%- if needDPAAUuid == uuids.needDPAYesAUuid -%}
        {%- set needDPAYesListPath = [needDPAPath, uuids.needDPAYesAUuid, uuids.needDPAYesListQUuid]|reply_path -%}
        {%- set needDPAYesListCount = repliesMap[needDPAYesListPath]|reply_items -%}
        {%- if needDPAYesListCount|length > 0 -%}
          <p>
          {%- if needDPAYesListCount|length > 1 -%}
            The following Data Processing Agreements have been established:
          {%- else -%}
            The following Data Processing Agreement has been established:
          {%- endif -%}
          </p>
          <ul>
          {%- for i in needDPAYesListCount -%}
            {%- set pathPrefix = [needDPAYesListPath, i]|reply_path -%}
            {%- set DPAProcessorsPath = [pathPrefix, uuids.needDPAYesListProcessorQUuid]|reply_path -%}
            {%- set DPAProcessorsName = repliesMap[DPAProcessorsPath]|reply_str_value -%}
            <li>
              <strong>Processors: </strong>{{ DPAProcessorsName if DPAProcessorsName else "(no names given)" }}
              <br>
            </li>
          {%- endfor -%}
          </ul>
        {%- endif -%}
      {%- elif needDPAAUuid == uuids.needDPANoAUuid -%}
        All data processing agreements are already in place.
      {%- endif -%}
    {%- endif -%}
  </div>
</div>
