<div id="dmp-content">
  <section id="sec-data-collection" class="dmp-section">
    {% include "parts/questions/01-what-data.html.j2" with context %}
    {% include "parts/questions/02-what-types.html.j2" with context %}
    {% include "parts/questions/03-sensitive-data.html.j2" with context %}
    {% include "parts/questions/04-access-security.html.j2" with context %}
    {% include "parts/questions/05-store-backup.html.j2" with context %}
  </section>
</div>
